	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/04/2019 16:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-stretching-exercises:before { content: "\f100"; }
.flaticon-swimming-figure:before { content: "\f101"; }
.flaticon-religion:before { content: "\f102"; }
.flaticon-yoga:before { content: "\f103"; }
.flaticon-gym:before { content: "\f104"; }
.flaticon-stretch:before { content: "\f105"; }
.flaticon-fast:before { content: "\f106"; }
.flaticon-footwear:before { content: "\f107"; }
.flaticon-fit:before { content: "\f108"; }
.flaticon-gym-1:before { content: "\f109"; }
.flaticon-gym-2:before { content: "\f10a"; }
.flaticon-gym-3:before { content: "\f10b"; }
.flaticon-gym-4:before { content: "\f10c"; }
.flaticon-gym-5:before { content: "\f10d"; }
.flaticon-gym-6:before { content: "\f10e"; }
.flaticon-gym-7:before { content: "\f10f"; }
.flaticon-gym-8:before { content: "\f110"; }
.flaticon-gymnast:before { content: "\f111"; }
.flaticon-gymnast-1:before { content: "\f112"; }
.flaticon-sport:before { content: "\f113"; }
.flaticon-gymnast-2:before { content: "\f114"; }
.flaticon-stretch-1:before { content: "\f115"; }